$white: #fff;

.background {
  background: $white;
  bottom: 0;
  direction: ltr;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: none;
  left: 0;
  overflow: hidden;

  svg {
    display: none;
  }
}
@media(min-width: 601px) {
  .background {
    background: #e0e0e0;
    display: inherit;

    svg {
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }

  .page::before {
    min-height: 30px;
  }

  .page::after, .page::before {
    content: '';
    display: block;
    flex-grow: 1;
    height: 24px;
  }
}
